#party_list {
	background-color: white;
}

#party_list div {
	background-color: #D3D3D3;
	height: 100px;
	width: 100%;
	margin-bottom: 2px;
}

#party_list dt {
	text-align: left;
	font-size: 30px;
	vertical-align: text-top;
}

#party_list dd {
	text-align: right;
	font-size: 15px;
	vertical-align: text-bottom;
}